@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --site-ff: 'Noto Sans TC';      /* Noto Sans Traditional Chinese */
    --site-font-size: 16pt;          /* font size */
    --site-title-font-size: 24pt;  /* font size for titles */
    --site-text-color: #ffffff;  /*  white */
    --landing-bk-color: #4a9d9b;
    --pagetitle-text-color: #000000;
    --aboutus-title-font-size: 18pt;
    --aboutus-img-width: 30%;
}

html {
	margin: 0;
	padding: 0;
    font-family: var(--site-ff);
    font-size: var(--site-font-size);
    color: var(--site-text-color);
}

body { 
    margin: 0; 
    padding: 0;
    background-color: var(--landing-bk-color);
}

.landing, .system_introduction {
    width: 100%;
    position: relative;
}

.landing .bk {
     width: 100%;
     max-width: 100%;
     display: block;
 }

.landing .menu {
    position: absolute;
    top: 5%;
    right: 15%;
    display: inline-flex;
}

.landing .menu a {
    padding: 15px;
}

.landing .overlay {
    position: absolute;
    top: 48%;
    left: 20%;
    width: 45%;
    align-items: center;
    display: flex;
}

.title {
    margin: 0;
    padding: 0;
    font-size: var(--site-title-font-size);
    display: flex;
}

.landing .logo_container {
    width: 20%;
    /*flex-basis: 20%;  /* scale down to 15% of the original image*/
    display: flex;
    /* order: 2; -- Image on the left */
}

.landing .logo {
    width: 20%;
    max-width: 100%;
    display: flex;
}

.system_introduction .bk {
    width: 100%;
    max-width: 100%;
    position: absolute;
    display: block;
}

.page_title {
    font-size: var(--site-title-font-size);
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    color: var(--pagetitle-text-color);
}

.system_introduction .title {
    font-size: var(--aboutus-title-font-size);
}

.article_area {
    position: relative;
    align-items: center;
    display: flex;
    padding: 1%;
    
    background: #4a9d9b;
    background: -moz-linear-gradient(90deg, #4a9d9b 0%, #e1b667 100%);
    background: -webkit-linear-gradient(90deg, #4a9d9b 0%, #e1b667 100%);
    background: linear-gradient(90deg, #4a9d9b 0%, #e1b667 100%);
    border-radius: 100px;
}

.article_area .art {
    width: var(--aboutus-img-width);
    height: auto;
    max-width: 100%;
    display: flex;
}

.article_spacer_1 {
    padding-top: 7%;
}

.article_1 {
    left: 10%;
    width: 40%;
    padding-left: 5%;
}

.art_1 {
    padding-left: 5%;
    order: 2;
}

.article_spacer_2 {
    padding-top: 2%;
}

.article_2 {
    left: 45%;
    width: 40%;
    padding-right: 14%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.art_2 {
    padding-right: 5%;
}

.article_spacer_3 {
    padding-top: 2%;
}

.article_3 {
    left: 0;
    width: 40%;
    padding-left: 10%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.art_3 {
    padding-left: 5%;
    order: 2;
}

.paid_plans {
    color: var(--pagetitle-text-color);
    position: relative;

    background: #e1b667;
    background: -moz-linear-gradient(to bottom right, #e1b667 0%, #4a9d9b 100%);
    background: -webkit-linear-gradient(to bottom right, #e1b667 0%, #4a9d9b 100%);
    background: linear-gradient(to bottom right, #e1b667 0%, #4a9d9b 100%);
}

.paid_plans .plan_area {
    display: inline-flex;
    justify-content:center;
    column-gap: 20px;

    width: 100%;
    padding: 10% 0 15% 0;  /* top right bottom left */
 }

.paid_plans .plan_area .plan {
    text-align: center;
    align-content: space-between;

    border-radius: 15px; /* Rounded borders */
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #ccc;

    width: 15%;
    height: 300px;
}

.block_header {
    font-size: 22px;
}

.bold {
    color: #389AA4;
    font-weight: bold;
    font-size: 20px;
}

strikethrough {
    color: #ccc;
    text-decoration: line-through;
}

.close {
    float: right;
}
    
/* Style inputs with type="text", type="email", and textareas */
input[type=text], input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
  
  /* Add a background color and some padding around the form */
.inquary_container {
    width: 50%;
    border-radius: 20px;
    background-color: #f2f2f2;
    opacity: 0.8;
    padding: 20px;
    color: var(--pagetitle-text-color);
    align-items: center;
    display: none;
    top: 10%;
    left: 20%;
    position: absolute;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    
    /* Support for IE. */
    font-feature-settings: 'liga';
    }

/* Desktop */
@media screen and (min-width: 1024px) {
    html {
        font-size: 16pt;
    }

    .title, .page_title {
        font-size: 24pt;
    }

    .system_introduction .title {
        font-size: 18pt;
    }
    
}

/* Tablet - laptops: 769px to 1024px*/
@media screen and (max-width: 1023px) and (min-width: 768px) {
    html {
        font-size: 14pt;
    }

    .title, .page_title {
        font-size: 21pt;
    }

    .system_introduction .title {
        font-size: 16pt;
    }

    .landing .menu {
        right: 10%;
        flex-direction: column;
    }

    .landing .menu a {
        padding: 2px;
    }
    .landing .overlay {
        top: 48%;
        left: 20%;
        width: 60%;
    }

    .article_spacer_1 {
        padding-top: 10%;
    }
    .article_1 {
        left: 8%;
        width: 60%;
        padding-left: 5%;
    }
    .article_2 {
        left: 20%;
        width: 60%;
        padding-right: 20%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .article_3 {
        left: 0;
        width: 60%;
        padding-left: 10%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .paid_plans .plan_area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .paid_plans .plan_area .plan {
        width: 30%;
        height: 250px;
    }
    .block_header {
        font-size: 18px;
    }
    .bold {
        font-size: 18px;
    }
       
}

/* Smart Phones - mobile devices: 320px to 480px, tablets and ipads: 481px to 768px */
@media screen and (max-width: 767px) {
    html {
        font-size: 12pt;
    }

    .title, .page_title {
        font-size: 18pt;
    }

    .system_introduction .title {
        font-size: 14pt;
    }

    .landing .menu {
        right: 5%;
        flex-direction: column;
    }
    .landing .menu a {
        padding: 2px;
    }    
    .landing .overlay {
        top: 48%;
        left: 10%;
        width: 80%;
    }

    .article_spacer_1 {
        padding-top: 15%;
    }
    .article_1 {
        left: 5%;
        width: 85%;
        padding-left: 5%;
    }
    .article_2 {
        left: 10%;
        width: 85%;
        padding-right: 5%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .article_3 {
        left: 0;
        width: 85%;
        padding-left: 10%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .paid_plans .plan_area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        padding: 17% 0 10% 0;
    }
    .paid_plans .plan_area .plan {
        width: 40%;
        height: 250px;
    }
    .block_header {
        font-size: 18px;
    }
    .bold {
        font-size: 18px;
    }
}
